@import './base.css';
@import './helpers.css';

@import './buttons.css';
@import './forms.css';

.main-layout {
  max-width: 1440px;
  margin-inline: auto;
  margin-block: 50px;
}

.search-bar {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.videos-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-block: 25px;
}

.video-player {
  grid-row: 1;
}

.video-preview-container {
  gap: 20px;
  margin-bottom: 36px;
}

.video-preview-container .title{
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}

@media (min-width: 768px) {
  .videos-container {
    grid-template-columns: 1fr 1fr;
  }

  .video-player {
    grid-row: unset;
  }  
}
